#Who got the remedy? John Kennedy!
45 22 * * 5-6 /opt/radio/record.sh radiox 12600 xposure &>> /var/log/radio/debug.log
#Keep last 30 days worth of recordings
0 21 * * * find /opt/radio/data/ -type f -mtime +30 -name '*.aac' -exec mv "{}" /opt/radio/keep/ \;
